.biography {
    border: 1px solid #e7e7e7;
    text-align: center;
    padding: 20px 15px;
}
.biography img {
    width: 250px;
    border-radius: 50%;
}
.biography h2 {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Cormorant Garamond', serif;
    color: #666;
}
.biography p {
    font-size: 20px;
    font-weight: 600;
    margin: 30px 0;
    font-family: 'Cormorant Garamond', serif;
    color: #666;
}
.about a {
    background: black;
    color: white;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 400;
    transition: .3s ease;
    font-family: 'Cormorant Garamond', serif;
    border: 1px solid black;
}
.biography a:hover {
    background: none;
    color: black;
}
.social {
    margin-top: 30px;
    padding: 20px 0;
    border-top: 1px solid gray;
}
.social a img {
    border-radius: 0;
    width: 30px;
    margin: 0 10px;
}