/* font-family: 'Cormorant Garamond', serif;
font-family: 'Festive', cursive; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none
}
body {
    max-width: 90%;
    margin: 0 auto;
    font-family: 'Cormorant Garamond', serif;
}
ul {
    list-style-type: none;
}
.app-content {
    display: grid;
    grid-template-columns: 5fr 1fr;
}